*{
    color: #F9F9F9;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1a1d29;
}

.logo-container {
    width: 100vw;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-container img{
    height: 104px;
    width: 172px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;

    padding: 3rem;
    height: 100vh;
    width: 100vw;
}

.form h3 {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 374px;
}

.form-label input {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    border: none;
    background-color: #31343E;
}

.form-button {
    width: 374px;
    margin-top: 2rem;
    margin-bottom: -.5rem;
    font-size: 15px;
    font-weight: 600;
    height: 48px;
    color: #fff;
    border: none;
    border-radius: .25rem;
    background: #0072d2;
    cursor: pointer;
}

