* {
    padding: 0;
    margin: 0;
}

.movieDetailed-container {
    display: flex;
    justify-content: center;
    padding: 1rem; 
  }

.movieDetailed-container__img {
    margin: 2rem 0 2rem 2rem;
    border-radius: .5rem;
    box-shadow: 2px 1px 3px 0px #c2b7b7;
    width: 20%;
}

.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
}

.overview-container__h3 {
    font-size: 3rem;
}

.overview-container__p {
    font-size: 1.2rem;
}

.overview-container__button {
    background-color: green;
    cursor: pointer;
    border:none;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.similar-container {
    padding: 1rem;
    display: flex;
}

h5 {
    margin-left: 2rem;
    font-size: 2rem;
}

.similar-container__p{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #db1d30;
}

.red {

    background-color:red;
}