.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.2rem;
    max-width: 100vw;
}

.search-container__h1 {
    margin-bottom: 2rem;
}

.galery-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 95%;
    align-items: center;
    justify-items: center;
    gap: .8rem;
}

.galery-container__img {
    max-width: 90%;
    box-shadow: 3px 2px 6px #F9F9F9;
    cursor: pointer;
    transition: transform 0.5s;

}

.galery-container__Link {
    padding: .5rem 0;
    text-decoration: none;
}

.galery-container__img:hover {
    transform: scale(1.3); 
}

.search-container__p {
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #b11111;
} 

.galery-container__p {
    font-size: 1.3rem;
    color: #f3f3f3;
    text-align: center;
}

.galery-container__button {
    background-color: #3449c1;
    color: white;
    display: block;
    margin: auto;
    margin-top: 5rem;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    width: 90%;
    border: none;
    border-radius: .5rem;
}