.search-form {
    height: 100%;
    width: 90vw;
    margin: 0 3rem;
    padding: 2rem 0;

}
.search-form__input {
    background-color: #1a1d29; 
    height: 100%;
    width: 100%;
    color: #fff;    
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 1rem;
    font-size: 2.5rem;
}